| 欢迎来到 #{projectName}
= '\n'
= '\n'
| 感谢您的注册，您的帐号已被建立，这是您的登录凭证:
= '\n'
= '\n'
| 用户名: #{username}
| 电子邮箱: #{email}
= '\n'
= '\n'
| 登录我们的网站: #{loginURL}
= '\n'
= '\n'
| Thanks,
| #{projectName}
//| #{projectName}
